page-maintainance {
   
    .scroll-content {
        padding: 16px;
        margin-top: 45px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    // .toolbar-md-light .toolbar-background-md {
    //     background: #fdeeee !important;
    // }
   
       ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% ; 
}
   .select-ios {
    padding: 4px 8px 13px 16px ;
}

.select-md {
    padding: 4px 8px 13px 16px !important;
}
  
    // .toolbar-background-md {
    //     border-color: #b2b2b200;
    //     background: #fdeeee;
    // }
    
    // .toolbar-md-light .toolbar-background-md {
    //     background: #f4f4f400;
    // }
    // .toolbar-background-md {
    //     border-color: #b2b2b200;
    //     background: #fdeeee;
    // }
    // .toolbar-md {
    //     padding: 4px;
    //     min-height: 56px;
    //     background: #fdeeee !important;

    //     }
   
   
        .label-md {
            margin: 6px 0px 10px 0 !important;
        }
        .label-ios {
            margin: 6px 0px 10px 0 !important;
        }

    // .toolbar-ios-light .toolbar-background-ios {
    //     background: #fdeeee !important;
    // }
    // .toolbar-background-ios {
    //     border-color: #b2b2b200;
    //     background: #fdeeee;
    // }
    // .toolbar-ios .segment-button {
    //     max-width: 156px !important;
    //     height: 3rem !important;
    //     font-size: 1.2rem;
    //     line-height: 2.5rem !important;
    // }
   
    .segment-ios .segment-button:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
    }
    .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0px !important;
        margin-right: 0;
    }
    
    // .toolbar-ios-light .toolbar-background-ios {
    //     background: #f4f4f400;
    // }
    // .toolbar-background-ios {
    //     border-color: #b2b2b200;
    //     background: #fdeeee;
    // }
    // .toolbar-ios {
    //     padding: 4px;
    //     min-height: 56px;
    //     background: #fdeeee !important;

    //     }
   
    .select-md .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
      .select-ios .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
    .select-md {
        padding: 0px 9px 0px 8px;
    }
    .select-ios {
        padding: 5px 9px 0px 8px;
    }
    .select-ios.select-icon {
        position: relative;
        width: 12px;
        height:auto;
    }

    .button2
    {
       background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.5) 
    }
    .form-group
    {
        margin-bottom: 12px;
    }
    .valid
    {
      color: #080808;
    
      margin-top: -5px;
      margin-bottom: 1px;
              } 
              .valid1
              {
                color: #080808;
               
                margin-top: -5px;
                margin-bottom: 1px;
                        }
  

         
                        .buttonicon
                        {
                       border-left:1px solid rgba(214, 57, 50, 0.38);  margin-right: -11px;  height: 35px; border-top:1px solid rgba(214, 57, 50, 0.38); border-bottom:1px solid rgba(214, 57, 50, 0.38);background: #ffc6c6;
                        }
                        .details
                              {
                                height: 38px;background-color:#f3bbbb;width: 100%;
                              }
                        .type
                        {
                            color: #d63932;
                            margin-top: 3px;
                            padding: 0;
                            margin-right: -1px;
                            z-index: 1;
                            margin-left: 29px;
                        }
                        .button2
                        {
                           background-color: #646363;color:#ffffff ; border: 1px solid rgba(214, 57, 50, 0.5) 
                        }
                        .form-control
                        {
                            width:64%
                        }
                        
                        .name
                        {
                           color:#d63932;
                           margin-left:4px;
                           margin-right: -5px;
                         }
                         .cmark
                         {
                             color: #d63932;
                             margin-left: 18px;
                             margin-right: -1px;
                 
                          }
                          .cyear
                          {
                            margin-left: 33px;
                            margin-right: -1px;
                  
                           }
                         .remark
                        {
                           color:#d63932;
                           margin-left: 24px;
                
                         }
                         .branch
                        {
                           color:#d63932;
                           margin-left: 28px;
                           margin-right: 0px;
                
                         }
                         .date
                         {
                            color:#d63932;
                            margin-left:15px;
                         }
                         .delevier
                        {
                            color:#d63932;
                           margin-left:-1px;
                
                        }
                         .receive
                        {
                            color:#d63932;
                           margin-left:-4px;
                        }
                         .jop
                         {
                            color: #d63932;
                            margin-left: 14px;
                         }
                         .phone
                         {
                            color:#d63932;
                            margin-left:21px;
                            margin-right: -5px;
                         }
                         .email
                         {
                            color:#d63932;
                            margin-left:-11px; 
                            margin-right: -5px; 
                         }
                             .year
                             {
                                color:#d63932 ;
                                margin-top:3px ;
                                 padding:0px ; 
                                   margin-right:-5px ;
                                   z-index:1;
                                   margin-left:19px;
                
                             }
                             .button1
                             {
                                background-color: #449802;
                               // margin-right: 15px; 
                                color:#ffffff ;
                                 border: 1px solid #d63932;
                             }
                             .valid
                             {
                               color: #080808;
                              
                               margin-top: -5px;
                               margin-bottom: 1px;
                                       } 
                                       .valid1
                                       {
                                         color: #080808;
                                        
                                         margin-top: -5px;
                                         margin-bottom: 1px;
                                                 } 


    

   



          .segment-md .segment-button,
          .segment-ios .segment-button {
              opacity: 1;
              // background-color: #790c1b;
              background-color: #fdeeee;
              // color: #d63932;
              color: #790c1b;
              font-size: 16px;
              border: 1px solid #790c1b;
              font-weight: 100;
          }
      
          .segment-md .segment-button.segment-activated,
          .segment-ios .segment-button.segment-activated {
              border-color: #790c1b;
              opacity: 1;
              color: #fdeeee;
              background-color: #790c1b;
              font-weight: 100;
          }


          .toolbar-title-md, .toolbar-title-ios {
            margin-right: -15px !important;
        }
}