<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958559604712-8h8td1hi6hvd8s3mafo2hh2nf5v6lmcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958559604712-8h8td1hi6hvd8s3mafo2hh2nf5v6lmcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBIPUzqqqcflF93vx2ls8FjAzSd-Rjj3-0</string>
	<key>GCM_SENDER_ID</key>
	<string>958559604712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlhalwanyMotors</string>
	<key>PROJECT_ID</key>
	<string>alhalwanymotors</string>
	<key>STORAGE_BUCKET</key>
	<string>alhalwanymotors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958559604712:ios:f5ae641747348e5e779e5d</string>
	<key>DATABASE_URL</key>
	<string>https://alhalwanymotors.firebaseio.com</string>
</dict>
</plist>