page-chat {
    .scroll-content {
      
        padding-left: 0 !important;
      
    }
    
    .alert-md .alert-head{
        display:none !important;
      }
      .alert-ios .alert-head{
        display:none !important;
      }
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 100% !important;
        width: 100% !important;}
      .select-md {
    padding: 4px 8px 13px 16px !important;
}
.select-md .select-icon .select-icon-inner {
    left: 0px !important;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #d63932 !important;
    pointer-events: none;
}
.select-ios.select-icon .select-icon-inner {
    left: 0px !important;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #d63932 !important;
    pointer-events: none;
}
   .select-ios {
    padding: 4px 8px 13px 16px !important;
}
.label-md {
    margin: 6px 0px 10px 0 !important;
}
.label-ios {
    margin: 6px 0px 10px 0 !important;
}
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #ffffff !important;  
 -webkit-box-shadow: inset 0 0px 0 0 #ffffff !important; 
    box-shadow: inset 0 0px 0 0 #ffffff !important; 
}

       ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% !important; 
}
    .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px solid #ffffff;
}
     .item-md {
     padding-left: 0px !important;
        }
        .item-md.item-block .item-inner {
    padding-right: 8px;
     border-bottom: 0px solid #ffffff;
}
 
    .scroll-content
    {
        overflow: hidden;
    }
    .valid
    {
             color: #080808;
    margin-right: 44%;
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .form-control
    {
        width:64%
    }
    .form-group
    {
        margin-bottom: 12px;
    }
    .cyear
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .cmodel
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .cmark
    {
        color:#d63932 ;margin-top:5px ; padding:0px ;  font-size:16px; margin-right:-1px ;z-index:1
    }
    .name
    {
        color:#d63932 ;margin-top:5px ; padding:0px ; margin-left: 40px; font-size:16px;margin-right: 3px;
    }
    // .toolbar-content   {
    //     background-image: url("../assets/imgs/header.png") !important  ;  
    //      min-width: 100%;
    // }
    .row2
    {
       margin-top: -10px
    }
    .alert-md .alert-radio-icon {
        left: 13px;
        top: 0;
        border-radius: 50%;
        position: relative;
        display: none !important;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #787878;
    }
    .row3
    {
        .item-md.item-block .item-inner
        {
            border-bottom: none;
        }
        width: 105.9%;
      margin-top: 13px;
      ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 57.5%;
    }
}
.text-input-md {
    margin: 5px 8px !important;
    padding: 0;
    width: calc(100% - 8px - 8px);
    font-size: 16px;
}
.select-md .select-icon {
    position: relative !important;
    width: 12px;
    height: 33px !important;
  }
  .select-ios .select-icon {
    position: relative !important;
    width: 12px;
    height: 33px !important;
  }
.select-md {
    padding: 0px 9px 0px 8px;
}
.select-ios {
    padding: 5px 9px 0px 8px;
}
.select-ios.select-icon {
    position: relative;
    width: 12px;
    height:auto;
}
    .button1
    {
       background-color: #790c1b;
      // margin-left: 19px;
       //margin-right: 89px; 
       color:#ffffff ;
        border: 1px solid #790c1b;
    }
    .in
    {
        border:1px solid #d63932; height:35px ;background-color: #ffffff 
    }


            
    .menu
    {
        color:#ffffff !important;
         font-weight:500 !important; 
         margin-left:-11px !important;
         font-size:25px !important;
         margin-right: -15px;
    }
    .form-control
    {
        width:63%
    }
    .valid
    {
            color: #080808;
margin-right: 44%;
margin-top: 0px;
margin-bottom: 0px;
    }

    .cyear
    {
       color: #d63932;
margin-top: 5px;
padding: 0px;
font-size: 14px;
margin-right: 0px;
z-index: 1;
margin-left: 35px;
            }
    .cmodel
{
    color: #d63932;
    margin-top: 5px;
    padding: 0px;
    font-size: 14px;
    margin-right: -2px;
    z-index: 1;
    margin-left: 18px;
}
    .in
    {
        border:1px solid #d63932; height:35px ;background-color: #ffffff ;width:715px
    }
    .button1
{
    background-color: #790c1b;
  //  margin-left: 19px;
    color: #ffffff;
    border: 1px solid #790c1b;
  //  margin-right: 130px;
}
    .colm
    {
        width: 45.66667%;
        max-width: 24.66667%;
    }
    .name
    {
        color: #d63932;
        margin-top: 5px;
        padding: 0px;
        margin-left: 9px;
        font-size: 14px;
        margin-right: -6px;
    }
    .row2
{
   margin-top: -10px
}
.cmark{
    color: #d63932;
    margin-top: 5px;
    padding: 0px;
    font-size: 14px;
    margin-right: -1px;
    z-index: 1;
    margin-left: 21px;
}
.alert-md .alert-radio-icon {
    left: 13px;
    top: 0;
    border-radius: 50%;
    position: relative;
    display: none !important;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
}
.row3
{
    .item-md.item-block .item-inner
    {
        border-bottom: none;
    }
    width: 99.9%;
  margin-top: 13px;
  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width:75%;
}
.cmark
{
    color: #d63932;
    margin-top: 5px;
    padding: 0px;
    font-size: 14px;
    margin-right: -1px;
    z-index: 1;
    margin-left: 22px;    }
}


    .toolbar-title-md, .toolbar-title-ios {
        margin-right: -15px !important;
    }

    ion-item.noPadding {
        padding: 0 !important;
    }
}
