page-carmaintain {
    .scroll-content {
       
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .select-md .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
      .select-ios .select-icon {
        position: relative !important;
        width: 12px;
        height: 33px !important;
      }
    .alert-md .alert-head{
        display:none !important;
      }
      .alert-ios .alert-head{
        display:none !important;
      }
     .select-md .select-icon .select-icon-inner {
        left: 0px !important;
        top: 50%;
        margin-top: -3px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: #d63932 !important;
        pointer-events: none;
    }
   
    .select-md {
    padding: 4px 8px 13px 16px !important;
}
   .select-ios {
    padding: 4px 8px 13px 16px !important;
}
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #ffffff !important;  
 -webkit-box-shadow: inset 0 0px 0 0 #ffffff !important; 
    box-shadow: inset 0 0px 0 0 #ffffff !important; 
}
    .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px solid #ffffff;
}
      ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% !important; 
}
  
    .form-group
    {
        margin-bottom: 12px;
    }
    .item-md {
     padding-left: 0px !important;
        }
        .item-md.item-block .item-inner {
    padding-right: 8px;
     border-bottom: 0px solid #ffffff;
}
.label-md {
    margin: 6px 0px 10px 0 !important;
}
.label-ios {
    margin: 6px 0px 10px 0 !important;
}

.item-md {
    padding-left: 0px !important;
       }
       .item-md.item-block .item-inner {
   padding-right: 8px;
    border-bottom: 0px solid #ffffff;
}

       .button1
       {
          background-color: #449802;
        
         // margin-right: 32%;
          color:#ffffff ;
           border: 1px solid #d63932;
       }
     
       .name
       {
           color: #d63932;
          
        }
        .jop
        {
           color:#d63932;
           margin-left:29px;
        }
        .phone
        {
           color:#d63932;
           margin-left:10px;

        }
            .year
            {
               color:#d63932 ;
               margin-top:3px ;
                padding:0px ; 
                  margin-right:-1px ;
                  z-index:1;
                  margin-left:26px;

            }
            .valid
            {
            color: #080808;
   margin-right: 48%;
   margin-top: 0px;
   margin-bottom: 4px;

           
            }

             .toolbar-title-md, .toolbar-title-ios {
                margin-right: -15px !important;
            }
    
}
