<ion-header>

  <ion-navbar color="danger" hideBackButton>
    <ion-row>
      <img src="assets/imgs/share-shot icon.png"    class="search" (click)="share()">
     
            
        
    <ion-title style="text-align:center;margin-top: 10px;" >العلامات التحذيريه</ion-title>
 
    </ion-row>
    <ion-buttons right>
      <button ion-button icon-only (click)="ViewCtrl.dismiss()">
          <ion-icon name="arrow-back" arrow-dripright></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#fdeeee "  #myContent1>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    <ion-grid>
        <div class="div"  *ngFor="let item of alldata">
          <ion-row >
        <ion-col col-2 >
            <img  [defaultImage]="defaultimage" [scrollObservable]="myContent1.ionScroll" [lazyLoad]="img+item.image" class="img">

          </ion-col>
        <ion-col col-10 class="data">
          <ion-row style="width:100%">
                 <p class="name" style="width:100%">{{item.name}}</p>
                </ion-row>
                <ion-row>
                 <p class="detail" >{{item.description}}</p>
                </ion-row>
                <ion-row *ngIf="!(item.image_logo == null)">
                    <img class="img2" [defaultImage]="defaultimage" [lazyLoad]="img+item.image_logo" [scrollObservable]="myContent1.ionScroll">

                  <!-- <img src="{{img+item.image_logo}}" class="img2"> -->

                </ion-row>
       
        </ion-col>
       
      </ion-row>
      
      </div>
      
      </ion-grid>
</ion-content>
