page-details {
    .grid2{
ion-row:nth-child(odd)
    {    background: #f9f9fd;
    
    }
    ion-row:nth-child(even)
    {    background: #fdeeee;
    
    }
}
.grid3{
    ion-row:nth-child(odd)
        {    background: #f9f9fd;
        
        }
        ion-row:nth-child(even)
        {    background: #fdeeee;
        
        }
    }
.grid14{
    ion-row:nth-child(odd)
        {    background: #f9f9fd;
        
        }
        ion-row:nth-child(even)
        {    background: #fdeeee;
        
        }
    }
   
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.4rem !important; 
        font-weight: bold;
        color: #000;
        pointer-events: auto;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight:bold;
        color: #424242;
    }
    .toolbar-md-light .toolbar-background-md {
        background: #f4f4f400;
    }
    .toolbar-background-md {
        border-color: #b2b2b200;
        background: #fdeeee;
    }
    .toolbar-background-ios {
        border-color: #b2b2b200;
        background: #fdeeee;
    }
 
  
    .toolbar-ios .segment-button {
        max-width: 156px !important;
        height: 3rem !important;
        font-size: 1.2rem;
        line-height: 2.5rem !important;
    }
    .toolbar-ios-light .toolbar-background-ios {
        background: #b6737300;
    }
    .segment-ios .segment-button:first-of-type {
         border-top-left-radius: 0px !important; 
         border-top-right-radius: 0; 
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0px !important; 
         margin-right: 0;
    }
    .segment-ios .segment-button:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
    }
    .price
    {
        font-size: 1.2rem;font-weight: 500; color:#e05615;margin-top: 0px;
    }
    .share
    {
        color:red ; font-size: 29px;    margin-top: 15px;
    }
.div1
{
    margin-top: -16px;
  
    width: 100%;
    margin-bottom:10px;
}


.discount
{
    background-color: #dc9b02;
       
     color: white;
      
    //    width:18%;
    width: 86px;
      
     padding: 2px 20px;
        position: absolute;
       z-index: 1;
       top: 0%;
        right: 9px;
      
}
.search
{
    text-align: left; margin-left:0px;margin-right: -245px;
}
// .imgslider
// {
//     height:250px;width:350px ; }
.item1
{
    background-color:#f3bbbb;width: 234%;height: 34%;margin-bottom:0px
}
.item2
{
    background-color:#f3bbbb;width: 109%;height: 7%;margin-bottom:0px
}

.btn
{
    background-color: #790c1b;
    width: 150px !important;
    margin: -10px auto 10px auto;
}

.seg
{    
        width: 100%;
    }
.slide
{
height: auto;width: 100% !important;
}
.item1
{
background-color: #f3bbbb;
height: 7%;
margin-bottom: 0px;}

.item2
{
background-color:#f3bbbb;height: 7%;margin-bottom:8px
}
.item3
{

background-color: #f3bbbb;
height: 7%;

}
.item4
{
background-color:#f3bbbb;height: 7%;
}

.item5
{
background-color:#f3bbbb;height: 7%;
}
.item6
{

background-color:#f3bbbb;height: 7%;margin-bottom:0px
}
.item7
{

background-color:#f3bbbb;height: 7%;margin-bottom:8px
}
.item8
{
margin-top: -25px;background-color:#f3bbbb;height: 7%;margin-bottom:8px
}
.grid2
{

margin-top: -11px;
height: 34%;



}
.grid3
{


height: 34%;




}
.grid4
{

margin-top: -11px;
height: 34%;

margin-bottom: 36px;


}
.grid5
{
margin-top: -11px;
height: 34%;

margin-bottom: 36px;

}
.imgslider
{
height:250px;width:347px ; 
}
.discount
{
background-color: #dc9b02;
   
 color: white;
//  height:70px;
   width:86px;
    position: absolute;
   z-index: 1;
   top: 0%;
    right: 9px;
    font-size: 13px;
  
}
.row11{
    width: 80%;
}
.search
{ text-align: left;
margin-left: 0px;
   margin-right: -207px;
}

// @media screen and (min-width:320px){
//     .seg
//     {    
//             width: 100%;
//         }
//     .slide
// {
//     height: auto;width: 100% !important;
// }
//     .item1
// {
//     background-color: #f3bbbb;
//     height: 7%;
//     margin-bottom: 0px;}
// .btn
// {
//     background-color:#449802 ; margin-top: 14%;    margin-right: 18% !important;
//     width: 190px !important;
// }
// .item2
// {
//     background-color:#f3bbbb;height: 7%;margin-bottom:8px
// }
// .item3
// {
   
//     background-color: #f3bbbb;
//     height: 7%;
    
// }
// .item4
// {
//     background-color:#f3bbbb;height: 7%;
// }

// .item5
// {
//     background-color:#f3bbbb;height: 7%;
// }
// .item6
// {
   
//     background-color:#f3bbbb;height: 7%;margin-bottom:0px
// }
// .item7
// {
    
//     background-color:#f3bbbb;height: 7%;margin-bottom:8px
// }
// .item8
// {
//     margin-top: -25px;background-color:#f3bbbb;height: 7%;margin-bottom:8px
// }
// .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;
   
   

// }
// .grid3
// {
    
  
//     height: 34%;
    
  


// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
    
//     margin-bottom: 36px;


// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
   
//     margin-bottom: 36px;

// }
//     .imgslider
// {
//     height:250px;width:347px ; 
// }
//     .discount
// {
//     background-color: #dc9b02;
       
//      color: white;
//     //  height:70px;
//        width:83px;
//         position: absolute;
//        z-index: 1;
//        top: 0%;
//         right: 9px;
//         font-size: 13px;
      
// }
//     .row11{
//         width: 80%;
//     }
//     .search
// { text-align: left;
//     margin-left: 0px;
//        margin-right: -207px;
// }
// }

// @media screen and (min-width:380px){
//     .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;

//     width:111%;
  


// }
// .grid3
// {
    
    
//     height: 34%;
//     width:111%;
  


// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:111%;
//     margin-bottom: 36px;


// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
//     width:100%;
//     margin-bottom: 36px;

// }
//     .search
//     {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -252px;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 24%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
// }
// @media screen and (min-width:400px){
//     .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:110%;
 


// }
// .grid3
// {
    
    
//     height: 34%;
//     width:110%;
   


// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:110%;
//     margin-bottom: 36px;


// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
//     width:100%;
//     margin-bottom: 36px;

// }
//     .search
//     {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -299px;    }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 21%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
//     .btn {
//         background-color: #449802;
//         margin-top: 10%;
//         margin-right: 23% !important;
//         width: 190px !important;
//     }
// }
// @media screen and (min-width:450px){
//     .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:108%;
  


// }
// .grid3
// {
    
   
//     height: 34%;
//     width:108%;
   


// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:108%;
//     margin-bottom: 36px;


// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
//     width:100%;
//     margin-bottom: 36px;

// }
//     .search
//     {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -321px;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 19%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
// }
// @media screen and (min-width:500px){
//     .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:108%;
   


// }
// .grid3
// {
    
    
//     height: 34%;
//     width:108%;
   


// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:108%;
//     margin-bottom: 36px;


// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
//     width:100%;
//     margin-bottom: 36px;

// }
//     .search
//     {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -370px;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 16%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
// }

// @media screen and (min-width:550px){
//     .grid2
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:106%;
   


// }
// .grid3
// {
    
    
//     height: 34%;
//     width:106%;



// }
// .grid4
// {
   
//     margin-top: -11px;
//     height: 34%;
//     width:106%;
//     margin-bottom: 36px;


// }
// .btn
// {
//     background-color: #449802;
//     margin-top: 10%;
//     margin-right: 35% !important;
//     width: 190px !important;
// }
// .grid5
// {
//     margin-top: -11px;
//     height: 34%;
//     width:100%;
//     margin-bottom: 36px;

// }
//     .search
//     {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -414px;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         // width: 15%;
//         width: 75px;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
// }
// @media screen and (min-width:600px){
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 13%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 14px;
//         height: 50px;
    
//     }
// }
// @media screen and (min-width:650px){
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 12%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 14px;
//         height: 50px;
    
//     }
//     .search
//     {
//         text-align: left;
//     margin-left: 0px;
//     margin-right: -530px;
//     }
//     .imgslider {
//         height: 312px;
//         width: 347px;
        
//     }

// }

// @media screen and (min-width:750px){
//     .imgslider {
//         height: 345px;
//         width: 347px;
       
//     }
//     .grid2
//     {
      

//         width:105%;
//     }
//     .grid3
//     {
//         width:105%;
//     }
//     .grid4
//     {
//         width:105%;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 14%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
//     .search
//     {
//         text-align: left;
//     margin-left: 0px;
//     margin-right: -612px;
//     }

//     .seg {
        
//         width: 100%;
//     }
// }
// @media screen and (min-width:800px){
//     .imgslider {
//         height: 345px;
//         width: 347px;
       
//     }
//     .grid2
//     {
       

//         width:105%;
//     }
//     .grid3
//     {
//         width:104.5%;
//     }
//     .grid4
//     {
//         width:105%;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 10%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 13px;
//         // height:70px;
//     }
//     .search
//     {
//         text-align: left;
//     margin-left: 0px;
//     margin-right: -659px;
//     }

//     .seg {
       
//         width: 100%;
//     }
// }
// @media screen and (min-width:850px){
//     .imgslider {
//         height: 345px;
//         width: 347px;
        
//     }
//     .grid2
//     {
       

//         width:104%;
//     }
//     .grid3
//     {
//         width:104.5%;
//     }
//     .grid4
//     {
//         width:104%;
//     }
//     .discount {
//         background-color: #dc9b02;
//         color: white;
//         width: 9%;
//         position: absolute;
//         z-index: 1;
//         top: 0%;
//         right: 9px;
//         font-size: 14px;
//         // height:70px;
//     }
//     .search
//     {
//         text-align: left;
//     margin-left: 0px;
//     margin-right: -720px;
//     }

//     .seg {
       
//         width: 100%;
//     }
// }
// @media screen and (min-width:1000px){
//     .search {
//         text-align: left;
//         margin-left: 0px;
//         margin-right: -842px !important;
//     }    
// }
// @media screen and (min-width:1024px){
//     .seg
//     {    
//         width: 100%;}
   
//     .slide
//     {
//         height: auto;width: 100% !important;
//     }
//     .item1
// {
//     background-color:#f3bbbb;width: 200%;height: 7%;margin-bottom:8px
// }
// .btn
// {
//     background-color: #449802;
//     margin-top:10%;
//     margin-right: 37% !important;
//     width: 251px !important;
// }
// .item2
// {
//     background-color:#f3bbbb;width: 140%;height: 7%;margin-bottom:8px
// }
// .item3
// {
//     background-color:#f3bbbb;width: 163%;height: 7%;     

// }
// .item4
// {
//     background-color:#f3bbbb;width: 163%;height: 7%;
// }

// .item5
// {
//    background-color:#f3bbbb;width: 172%;margin-right: 0px;height: 7%;
// }
// .item6
// {
   
//     background-color:#f3bbbb;width: 183%;margin-right: -6px;height: 7%;margin-bottom:0px
// }
// .item7
// {
   
//     background-color:#f3bbbb;width:103%;margin-right: -6px;height: 7%;margin-bottom:8px
// }
// .item8
// {
//     margin-top: -25px;background-color:#f3bbbb;width: 214%;height: 7%;margin-bottom:8px
// }
// .grid2
// {
//     width: 99%;
   

//     margin-top: -11px;
//     height: 34%;
// }
// .grid3
// {
//     width: 99%;
    
    
//     height: 34%;
// }
// .grid4
// {
//     width: 99%;
 
//     margin-top: -11px;
//     height: 34%;
// }
// .grid5
// {
//     width: 100%;
//     margin-right: -5px;
//     margin-top: -11px;
//     height: 34%;
// }
//     .imgslider
// {
//     height: 458px ;
//     width: 1000px;     }
//     .discount
// {
//     background-color: #dc9b02;
//     color: white;
//     width: 6%;
//     position: absolute;
//     z-index: 1;
//     top: 0%;
   
//     // height:70px;
//     font-size: 19px;

      
// }
//     .row11{
//         width: 80%;
//         margin-right: -21px;
//     }
//     .search
// {
//     text-align: left; margin-left:0px;    margin-right: -892px !important;

// }
// .share{
//     color: red;
//     font-size: 34px;
//     margin-top: 15px;
// }
// }
// @media screen and (min-width:900px){
//     .seg
//     {    
//         width: 100%;}
   
//     .slide
//     {
//         height: auto; width:100% !important;
//     }
//     .item1
// {
//     background-color:#f3bbbb;width: 200%;height: 7%;margin-bottom:0px
// }
// .btn
// {
//     background-color: #449802;
//     margin-top: 10%;
//     margin-right: 37% !important;
//     width: 251px !important;
// }
// .item2
// {
//     background-color:#f3bbbb;width: 140%;height: 7%;margin-bottom:8px
// }
// .item3
// {
//     background-color:#f3bbbb;width: 163%;height: 7%;     

// }
// .item4
// {
//     background-color:#f3bbbb;width: 163%;height: 7%;
// }

// .item5
// {
//   background-color:#f3bbbb;width: 172%;margin-right: 0px;height: 7%;
// }
// .item6
// {
   
//     background-color:#f3bbbb;width: 183%;margin-right: -6px;height: 7%;margin-bottom:0px
// }
// .item7
// {
   
//     background-color:#f3bbbb;width:103%;margin-right: -6px;height: 7%;margin-bottom:8px
// }
// .item8
// {
//     margin-top: -25px;background-color:#f3bbbb;width: 214%;height: 7%;margin-bottom:8px
// }
// .grid2
// {
//     width: 104%;
//     margin-bottom:0px !important;

  
//     height: 34%;
// }
// .grid3
// {
//     width: 104%;
    
 
//     height: 34%;
// }
// .grid4
// {
//     width: 104%;
 
//     margin-top: -11px;
//     height: 34%;
// }
// .grid5
// {
//     width: 100%;
//     margin-right: -5px;
//     margin-top: -11px;
//     height: 34%;
// }
//     .imgslider
// {
//     height: 458px ;
//     width: 1000px;     
// }
//     .discount
// {
//     background-color: #dc9b02;
//     color: white;
//     width: 9%;
//     position: absolute;
//     z-index: 1;
//     top: 0%;
    
//     font-size: 16px;
//     // height:70px;

      
// }
//     .row11{
//         width: 80%;
//         margin-right: -21px;
//     }
//     .search
// {
//     text-align: left;
//     margin-left: 0px;
//     margin-right: -754px;
// }
// .share{
//     color: red;
//     font-size: 34px;
//     margin-top: 15px;
// }
// }


.segment-md .segment-button,
.segment-ios .segment-button {
    opacity: 1;
    // background-color: #790c1b;
    background-color: #fdeeee;
    // color: #d63932;
    color: #790c1b;
    font-size: 16px;
    border: 1px solid #790c1b;
    font-weight: 100;
}

.segment-md .segment-button.segment-activated,
.segment-ios .segment-button.segment-activated {
    border-color: #790c1b;
    opacity: 1;
    color: #fdeeee;
    background-color: #790c1b;
    font-weight: 100;
}

.toolbar-title-md, .toolbar-title-ios {
    margin-right: -15px !important;
}

ion-item.noPadding {
    padding: 0 !important;
}
}
